/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2016, 17:44:57
    Author     : Portatil_Bot
*/


body {
  background-image: url("../img/bola.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50px 150px;
}