/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-oct-2016, 21:57:04
    Author     : Portatil_Bot
*/


table , th , td {
  border : 1px solid black;
  background-color:  aquamarine;
}