/* 
    @Created on : 10-ene-2017, 18:25:47
    @Author     : RVS
    @Pag        :
    @version    :
*/

#audio{
  width:720px;
  margin: 20px auto;
  background: #09f;
  padding : 5px;
  
  border : 2px solid #f05;
  /*Compatible con otros navegadores - firefox*/ 
  /*-moz-border-radius: 5px;*/
  /*Compatible con otros navegadores - chrome*/
  /*-webkit-border-radius: 8px;*/
  border-radius: 8px;
} 

nav{
  margin: 5px 0;
}

#botones{
  float:left;
  width: 100px;
  height: 20px;
}

#barra {
  background: #fff;
  width: 600px;
  height: 16px;
  border: 1px solid #00f;
  padding: 3px;
  margin-left: 80px;
}

#progreso{
  position: absolute;
  width: 0px;
  height: 16px;
  background: rgba(0,0,150,2);
}